#quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}
.questionsWithFlair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions {
  display: flex;
  justify-content: center;
  margin: 40px;
  width: 33em;
  padding: 30px;
  color: #c9df0a;
  background-color: #8f1313;
}

.buttons {
  margin-left: 10px;
}
.flair {
  height: 300px;
  width: auto;
}
