/* @font-face {
  font-family: RoadSunshine;
  src: url(./assets/fonts/RoadSunshine-0WG49.ttf);
} */

@font-face {
  font-family: SaiyanSans;
  src: url(./Saiyan-Sans.ttf);
}

#body {
  background-color: #2a2adc;
}

#header {
  color: #df1f2e;
  display: flex;
  justify-content: center;
  font-family: SaiyanSans;
  font-size: 200px;
  font-weight: lighter;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  text-shadow: 2px 2px 30px whitesmoke;
  /* background-color: blue; */
}
#form {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 80px;
}
.input {
  font-size: 15px;
  margin: 10px;
}
