.fighter-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.menu-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.timer-container {
  background-color: rgb(255, 217, 167);
  border: 4px solid #1976d2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 33%;
}

.timer-fill {
  height: 72px;
}
