#root {
  background-color: cadetblue;
  justify-content: center;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  justify-content: center;
  align-content: center;
  padding: 5%;
  border: solid rgb(123, 201, 204) 5px;
}

#display {
  border: solid rgb(36, 36, 36) 4px;
  padding: 0.5em;
  background-color: rgb(148, 137, 137);
  height: auto;
  width: auto;
  min-height: 3em;
  min-width: 30%;
  justify-content: center;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
}
.Input {
  display: grid;
  justify-self: auto;
  justify-content: auto;
  align-content: auto;
}

.Numbers {
  display: grid;
  /* repeat(); */
  /* justify-content: flex-start; */
  /* font-size: xx-large; */
}
.Functions {
  display: flex;
  justify-content: center;
  /* font-size: xx-large; */
}
.Functions2 {
  justify-content: center;
  /* font-size: xx-large; */
}

button {
  font-style: inherit;
  font-size: xx-large;
  padding: 5px;
  border-width: 3px;
  border-color: lightgrey;
}
