#root {
  background-color: cadetblue;
  justify-content: center;
}

#App {
  justify-self: center;
  justify-content: center;
  align-content: center;
}

#display {
  border: solid rgb(36, 36, 36) 4px;
  padding: 1em;
  background-color: rgb(148, 137, 137);
  height: auto;
  width: auto;
  min-height: 50px;
  min-width: 30%;
  justify-content: center;
  align-content: center;
}
#Input {
  justify-content: auto;
  align-content: auto;
  justify-self: auto;
}

#Numbers {
  justify-content: flex-start;
  /* font-size: xx-large; */
}
#Functions {
  justify-content: center;
  /* font-size: xx-large; */
}
#Functions2 {
  justify-content: center;
  /* font-size: xx-large; */
}

button {
  font-style: inherit;
  font-size: xx-large;
  padding: 5px;
  border-width: 3px;
  border-color: lightgrey;
}
