#root {
  display: flex;
  background-color: cadetblue;
  justify-content: center;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  justify-content: center;
  align-content: center;
  /* padding: 5%; */
  border: solid rgb(123, 201, 204) 5px;
}

#container {
  display: grid;
  border: solid rgb(31, 54, 54) 5px;
  /* padding: 0.5em; */
  background-color: rgb(85, 141, 143);
  grid-template-areas:
    "One Two Three"
    "One Two Three";
}

#display {
  border: solid rgb(36, 36, 36) 4px;
  padding: 0.5em;
  background-color: rgb(148, 137, 137);
  height: auto;
  width: auto;
  min-height: 3em;
  min-width: 30%;
  justify-content: center;
  align-content: center;
  font-family: "OCR A Std", monospace;
}
.Input {
  display: flex;
  justify-self: center;
  justify-items: space-evenly;
  flex: 1;
}

.Numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content;
  flex-grow: 1;
  font-size: xx-large;
}
.Functions {
  display: flex;
  grid-template-rows: 2fr;
  width: 5em;
  /* padding: 1em; */
  order: -1;
  flex-flow: column-reverse;
  justify-content: flex-end;
}
.Functions2 {
  display: flex;
  flex-flow: column;
  /* padding-left: 0.5em; */
  /* padding-right: 0.5em; */
  align-self: flex-start;
  /* padding: 1em; */
}

button {
  font-style: inherit;
  font-size: xx-large;
  padding: inherit;
  border-width: 3px;
  border-color: lightgrey;
}

#enterKey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 185, 115);
  font-size: 36pt;
  height: 5em;
}

#sexyKey {
  font-family: "Verdana Hand";
  font-style: italic;
  background-color: pink;
  color: rgb(112, 0, 0);
  padding: 0.69em;
  /* haha, that's the sex number */
}

#clearKey {
  background-color: rgb(236, 58, 58);
  order: -1;
  padding: 1em;
  /* padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em; */
}
#numKey {
  font-size: 26pt;
  /* padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em; */
  padding: 1em;
}
#funKey {
  display: flex;
  font-size: 26pt;
  justify-content: center;
  align-content: center;
  background-color: rgb(187, 187, 187);
  padding: 1em;
}
