.orc-container,
.barbarian-container {
  background-color: rgb(255, 217, 167);
  border: 5px solid #1976d2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  padding: 10px;
  width: 300px;
}

img {
  align-self: center;
  height: 250px;
  width: 250px;
}

.status {
  color: red;
  flex-wrap: wrap;
}
