.user {
  color: rgb(206, 223, 212) solid;
  font-family: "WillyWonka", sans-serif;
  margin: 40px;
  padding: 3px;
  border: 12px rgb(9, 143, 53) solid;
  border-style: inset;
  background-image: url("https://cdn11.bigcommerce.com/s-rvsmb/images/stencil/1280x1280/products/10217/40095/wrapepr1__72633.1551955825.jpg?c=2");
  background-position: center;
  display: flex;
  justify-content: space-evenly;
}
