#homeDiv {
  /* background-image: url("./assets/characters.jpg"); */
}
#characters {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #02020a;
}
