body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgba(238, 238, 238, 0.794);
  background-image: url(https://i.ytimg.com/vi/iM27kA5M3vo/maxresdefault.jpg);
  background-size: cover;
}
h1 {
  margin-bottom: 30px;
  margin-bottom: 10px;
  color: aliceblue;
  font-size: xx-large;
  display: flex;
}
