#body {
  display: flex;
  flex-direction: column;
}
#output {
  align-self: center;
  border: 3px solid slateblue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 80%;
}
.chx-container {
  align-self: center;
  border: 3px solid burlywood;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 10px;
  width: 50%;
}
