@font-face {
  font-family: Northstar;
  src: url(./styles/northstar-font/NorthstarItalic-MoYw.otf);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #8f1313;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: rgb(201, 223, 10);
  font-size: 20px;
  font-family: Northstar;
}
