#App {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  position: absolute;
  padding: 1em;
  transform: translate(50%);
  top: 10%;
  /* bottom: auto; */
  /* left: 50%; */
  right: 50%;
  flex-flow: column wrap;
  /* justify-self: center; */
  justify-content: center;
  /* align-content: center; */
  border: solid rgb(123, 201, 204) 8px;
  background-image: linear-gradient(33deg, rgb(212, 240, 241), rgb(53, 82, 99));
  border-radius: 1rem;
  max-width: 40em;
  height: 50em;
  /* box-shadow: 0em, 0em, 5em, black; */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: teal rgba(0, 128, 128, 0.5);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 3px solid rgba(0, 128, 128, 0.74);
}

#dexBody {
  display: grid;
  background-image: linear-gradient(45deg, rgba(128, 128, 128, 0.5), grey);
  /* height: fit-content(100%); */
  border: solid rgb(8, 34, 34) 4px;
  /* max-height: fit-content; */
  /* box-shadow: 0.5em, 0.5em, 1em black; */
}

#dexSideBoard {
  display: flex;
  flex-flow: row-reverse;
  justify-self: flex-end;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

button {
  color: blue;
}

#mainHeader {
  display: flex;
  justify-self: center;
  text-align: center;
  color: rgb(123, 201, 204);
}

#mainScreen {
  max-width: 30em;
  max-height: 30em;
  background-image: linear-gradient(
    50deg,
    rgb(224, 255, 252),
    rgb(188, 242, 255),
    rgb(92, 250, 255)
  );
}

#dataContainer {
  /* position: relative; */
  display: flex;
  flex-flow: column;
  /* grid-template-rows: repeat(1, 1fr); */
  /* grid-row-start: 1; */
  /* grid-row-end: 2; */
  /* grid-column-start: 1; */
  /* grid-column-end: 3; */
  justify-self: center;
  align-items: center;
  /* width: 30em 90%; */
  /* height: 30em 60%; */
  /* padding: 2em; */
  /* flex-grow: 1; */
  /* border: solid 3px black; */
  /* overflow-y: scroll; */
}

/* .pkmnBody {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  background-image: linear-gradient(45deg, rgba(128, 128, 128, 0.5), grey);
  width: 90%;
  border: solid 3px teal;
} */

#searchLabel {
  text-align: center;
  color: lightseagreen;
  text-shadow: 0.1em 0.1em 0.1em black;
}

#searchBtn {
  background-color: rgb(139, 0, 0);
  border-radius: 3em;
  width: 6em;
  height: 6em;
  box-shadow: 0em 0em 1em red;
  opacity: 100%;
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s;
  /* background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188),
    rgb(255, 92, 92)
  ); */
}

#searchBtn:hover {
  background-color: rgb(255, 151, 151);
  box-shadow: 0em 0em 3em rgb(255, 92, 92);
  opacity: 90%;
  background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188),
    rgb(255, 92, 92)
  );
}

.checkBtn {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}
.checkBtn:checked {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}

#spriteDisplay {
  display: grid;
  border: dotted teal 0.5em;
  justify-items: center;
  width: auto;
}

#dataDisplay {
  display: flex;
  flex-flow: column;
  height: 15rem;
  max-height: 30%;
  overflow-y: scroll;
}

#mainArt {
  width: 40%;
}
/* #spriteArt{
  
} */

.baseStats {
  /* padding-left: 2em; */
  /* padding-right: 2em; */
  margin: 0.5em;
  /* justify-self: auto;
  justify-items: center; */
  display: inline;
  white-space: pre;
  /* vertical-align: middle; */
}
#Moves {
  width: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}
