@font-face {
  font-family: Eviolite;
  src: url(../../../../assets/EvioliteBRegular-Oj0P.ttf);
}
@font-face {
  font-family: PokemonGB;
  src: url(../../../../assets/PokemonGb-RAeo.ttf);
}
#App {
  display: grid;
  position: absolute;
  padding: 1em;
  transform: translate(50%);
  top: 10%;
  right: 50%;
  flex-flow: column wrap;
  justify-self: center;
  justify-content: center;
  border: solid rgb(123, 201, 204) 1em;
  background-image: linear-gradient(33deg, rgb(212, 240, 241), rgb(53, 82, 99));
  border-radius: 1rem;
  max-width: 40em;
  height: 60em;
  font-family: Eviolite;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: teal rgba(0, 128, 128, 0.5);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 3px solid rgba(0, 128, 128, 0.74);
}

#dexBody {
  /* transform: translateY(-2em); */
  display: grid;
  background-image: linear-gradient(45deg, rgba(128, 128, 128, 0.5), grey);
  border: solid rgb(8, 34, 34) 4px;
  /* box-shadow: 0.5em, 0.5em, 1em black; */
}

#dexSideBoard {
  display: flex;
  flex-flow: row-reverse;
  justify-self: flex-end;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

#speaker {
  height: fit-content;
  width: 6em;
  border: solid black 2px;
  border-radius: 0.5em;
  margin: 0.5em;
  background-image: linear-gradient(
    45deg,
    rgb(89, 113, 128),
    rgb(46, 70, 83),
    rgb(74, 109, 129)
  );
}

hr {
  border: solid black 1px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
input {
  font-family: PokemonGB;
  text-align: center;
  margin: 0.75em;
  background-color: rgba(133, 192, 189, 0.788);
}

#inputBtns {
  display: flex;
  justify-self: center;
  padding-bottom: 0.5em;
}

#inputRandom {
  color: teal;
  border: solid 1px teal;
  border-radius: 1em;
  box-shadow: 0em 0em 1em teal;
  box-shadow: 0em 0em 1em rgb(0, 179, 179, 0.5);
}

#inputReset {
  color: teal;
  border: solid 1px teal;
  border-radius: 1em;
  box-shadow: 0em 0em 1em teal;
  box-shadow: 0em 0em 1em rgb(0, 179, 179, 0.5);
}

#mainHeader {
  font-family: Eviolite;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin: 0;
  color: rgb(123, 201, 204);
}

#mainScreenEmpty {
  width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgba(178, 202, 200, 0.5),
    rgba(151, 196, 207, 0.5),
    rgba(68, 195, 199, 0.5)
  );
  transition: background-image 1s;
}
#mainScreen {
  max-width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgb(224, 255, 252),
    rgb(188, 242, 255),
    rgb(92, 250, 255)
  );
}

#heightWeight {
  color: maroon;
  display: flex;
  justify-content: space-evenly;
}

#height {
  padding: 1em;
}
#weight {
  padding: 1em;
}

#searchLabel {
  text-align: center;
  color: lightseagreen;
  text-shadow: 0.1em 0.1em 0.1em black;
}

#searchBtn {
  font-family: Eviolite;
  color: rgb(253, 183, 183);
  background-color: rgb(139, 0, 0);
  border-radius: 3em;
  width: 6em;
  height: 6em;
  box-shadow: 0em 0em 1em red;
  opacity: 100%;
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s,
    background-image 0.5s;
  background-image: radial-gradient(
    rgb(255, 224, 224, 0.65),
    rgb(255, 188, 188, 0.5),
    rgb(255, 92, 92, 0.35)
  );
}

#searchBtn:hover {
  background-color: rgb(255, 151, 151);
  box-shadow: 0em 0em 3em rgb(255, 92, 92);
  opacity: 90%;
  background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188, 0.5),
    rgb(255, 92, 92, 0.35)
  );
}

.checkBtn {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}
.checkBtn:checked {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}

#dPad {
  justify-self: right;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  height: fit-content;
  margin: 0.3em;
  border: solid 2px black;
  border-radius: 1em;
  background-color: rgb(111, 136, 151);
}

.dPadBtn {
  width: 3em;
  height: 3em;
  background-image: linear-gradient(
    45deg,
    rgb(89, 113, 128),
    rgb(46, 70, 83),
    rgb(74, 109, 129)
  );
  border: solid 3px rgb(8, 34, 34);
  border-radius: 1em;
  cursor: initial;
}

#dPad01 {
  grid-column: 2;
  grid-row: 1;
}
#dPad02 {
  grid-column: 2;
  grid-row: 3;
}
#dPad03 {
  grid-column: 1;
  grid-row: 2;
}
#dPad04 {
  grid-column: 3;
  grid-row: 2;
}

#spriteDisplay {
  display: grid;
  border: dotted teal 0.5em;
  justify-items: center;
  margin: 1rem;
  max-height: 23rem;
}

.Species {
  font-family: Eviolite;
  font-size: 4em;
  border-bottom: dotted teal 0.1em;
}

#dexNumDisplay {
  display: inline;
  font-size: 1em;
  justify-self: center;
  gap: 0.5em;
}

#dataContainer {
  display: flex;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 30em;
  height: 100%;
  flex: 1;
  flex-direction: column;
  /* padding: 2em; */
  overflow-y: scroll;
  font-family: PokemonGB;
}

#dataDisplay {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#mainArt {
  max-width: 60%;
}
/* #spriteArt{
  max-width: 30%;
} */

#statsScreen {
  margin: 1em;
  padding-bottom: 0.6em;
  border-top: dotted teal 0.6em;
  border-bottom: dotted teal 0.6em;
}

#statsHeader {
  display: flex;
  justify-content: center;
}
#statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.75em;
}

.baseStats {
  display: inline-table;
  margin: 0.5em;
  justify-items: center;
  white-space: nowrap;
}
#moveScreen {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.Moves {
  display: flex;
  justify-content: center;
}
