@font-face {
  font-family: Eviolite;
  src: url(../../../../assets/EvioliteBRegular-Oj0P.ttf);
}
#App {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  position: absolute;
  padding: 1em;
  transform: translate(50%);
  top: 10%;
  /* bottom: auto; */
  /* left: 50%; */
  right: 50%;
  flex-flow: column wrap;
  /* justify-self: center; */
  justify-content: center;
  /* align-content: center; */
  border: solid rgb(123, 201, 204) 8px;
  background-image: linear-gradient(33deg, rgb(212, 240, 241), rgb(53, 82, 99));
  border-radius: 1rem;
  max-width: 40em;
  height: 60em;
  /* box-shadow: 0em, 0em, 5em, black; */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: teal rgba(0, 128, 128, 0.5);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 3px solid rgba(0, 128, 128, 0.74);
}

#dexBody {
  transform: translateY(-6em);
  display: grid;
  background-image: linear-gradient(45deg, rgba(128, 128, 128, 0.5), grey);
  /* height: fit-content(100%); */
  border: solid rgb(8, 34, 34) 4px;
  /* max-height: fit-content; */
  /* box-shadow: 0.5em, 0.5em, 1em black; */
}

#dexSideBoard {
  display: flex;
  flex-flow: row-reverse;
  justify-self: flex-end;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

button {
  color: blue;
}
input {
  text-align: center;
  /* max-height: 1.5em; */
  margin: 0.75em;
  background-color: rgba(133, 192, 189, 0.788);
}
#mainHeader {
  font-family: Eviolite;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin: 0;
  color: rgb(123, 201, 204);
  /* height: 0.5em; */
}

#mainScreenEmpty {
  width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgba(224, 255, 252, 0.5),
    rgba(188, 242, 255, 0.5),
    rgba(92, 250, 255, 0.5)
  );
  transition: background-image 1s;
}
#mainScreen {
  max-width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgb(224, 255, 252),
    rgb(188, 242, 255),
    rgb(92, 250, 255)
  );
}

#heightWeight {
  color: maroon;
  display: flex;
  justify-content: space-evenly;
}

#height {
  padding: 1em;
}
#weight {
  padding: 1em;
}

#searchLabel {
  text-align: center;
  color: lightseagreen;
  text-shadow: 0.1em 0.1em 0.1em black;
}

#searchBtn {
  font-family: Eviolite;
  color: rgb(253, 183, 183);
  background-color: rgb(139, 0, 0);
  border-radius: 3em;
  width: 6em;
  height: 6em;
  box-shadow: 0em 0em 1em red;
  opacity: 100%;
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s;
  /* background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188),
    rgb(255, 92, 92)
  ); */
}

#searchBtn:hover {
  background-color: rgb(255, 151, 151);
  box-shadow: 0em 0em 3em rgb(255, 92, 92);
  opacity: 90%;
  background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188),
    rgb(255, 92, 92)
  );
}

.checkBtn {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}
.checkBtn:checked {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: rgb(201, 201, 0);
  box-shadow: 2em, 2em, rgb(255, 255, 207);
}

#spriteDisplay {
  /* position: absolute; */
  display: grid;
  border: dotted teal 0.5em;
  justify-items: center;
  margin: 1rem;
  /* width: inherit; */
  max-height: 23rem;
}

.Species {
  font-family: Eviolite;
  font-size: 4em;
}

#dataContainer {
  /* position: relative; */
  display: flex;
  /* flex-flow: column; */
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 30em;
  height: 100%;
  flex: 1;
  /* display: none; */
  flex-direction: column;
  /* padding: 2em; */
  /* flex-grow: 1; */
  /* border: solid 3px black; */
  overflow-y: scroll;
}

#dataDisplay {
  /* position: relative; */
  /* display: inline; */
  flex-flow: column;
  /* float: inline-start; */
  /* height: 15rem; */
  /* max-height: 30%; */
  /* overflow-y: scroll; */
}

#mainArt {
  max-width: 60%;
}
/* #spriteArt{
  max-width: 30%;
} */

#statsScreen {
  margin: 1em;
}

#statsHeader {
  display: flex;
  justify-content: center;
}
#statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.baseStats {
  display: inline-table;
  /* padding-left: 2em; */
  /* padding-right: 2em; */
  margin: 0.5em;

  /* justify-self: auto; */
  justify-items: center;
  white-space: nowrap;
  /* vertical-align: middle; */
}
#moveScreen {
  display: flex;
  justify-content: center;
  width: inherit;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

.Moves {
  display: flex;
  justify-content: center;
}
